In [21]:
# SQLAlchemy
import sqlalchemy
from sqlalchemy import create_engine

In [34]:
engine = create_engine(f"sqlite:///Resources/nba.sqlite")
conn = engine.connect()

In [35]:
sqlite_table = "NBA"
NBAmerge4.to_sql(sqlite_table, conn, if_exists='fail')

In [36]:
conn.close()

In [37]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

In [38]:
engine = create_engine(f"sqlite:///Resources/nba.sqlite")

In [40]:
data = engine.execute('SELECT * FROM NBA')
for record in data:
    print(record)

(0, 'LeBron James', 26.4, 37.8, 'CLE', 29.7, 59.4, 7.7)
(1, 'Kyle Lowry', 22.4, 37.4, 'TOR', 24.9, 56.9, 8.2)
(2, 'Zach LaVine', 18.9, 37.2, 'MIN', 21.8, 54.4, -3.6)
(3, 'Andrew Wiggins', 23.6, 37.2, 'MIN', 28.8, 48.4, -0.5)
(4, 'Karl-Anthony Towns', 25.1, 37.0, 'MIN', 27.4, 57.6, -0.9)
(5, 'Jimmy Butler', 23.9, 37.0, 'CHI', 26.5, 49.2, 3.0)
(6, 'James Harden', 29.1, 36.4, 'HOU', 34.1, 52.5, 6.3)
(7, 'John Wall', 23.1, 36.4, 'WAS', 30.2, 48.2, 3.9)
(8, 'Anthony Davis', 28.0, 36.1, 'NOP', 32.6, 51.8, 1.7)
(9, 'Paul George', 23.7, 35.9, 'IND', 29.0, 53.4, 2.9)
(10, 'Damian Lillard', 27.0, 35.9, 'POR', 30.9, 51.6, 1.2)
(11, 'Giannis Antetokounmpo', 22.9, 35.6, 'MIL', 28.3, 54.1, 1.5)
(12, 'Harrison Barnes', 19.2, 35.5, 'DAL', 25.5, 49.8, -2.1)
(13, 'DeMar DeRozan', 27.3, 35.4, 'TOR', 34.2, 47.7, 3.3)
(14, 'Kyrie Irving', 25.2, 35.1, 'CLE', 30.2, 53.5, 5.1)
(15, 'CJ McCollum', 23.0, 35.0, 'POR', 27.4, 54.4, 1.2)
(16, 'Devin Booker', 22.1, 35.0, 'PHO', 28.4, 47.5, -4.4)
(17, 'Bradley Beal', 23.1, 34.9, 'WAS', 26.3, 56.6, 5.6)
(18, 'Kemba Walker', 23.2, 34.7, 'CHO', 29.1, 52.7, 3.6)
(19, 'Justise Winslow', 10.9, 34.7, 'MIA', 20.0, 37.1, -0.4)
(20, 'Trevor Ariza', 11.7, 34.7, 'HOU', 14.1, 52.8, 5.7)
(21, 'Russell Westbrook', 31.6, 34.6, 'OKC', 40.8, 47.6, 3.3)
(22, 'Gordon Hayward', 21.9, 34.5, 'UTA', 27.6, 53.6, 7.1)
(23, 'DeMarcus Cousins', 27.8, 34.4, 'SAC', 36.4, 49.8, -2.2)
(26, 'Carmelo Anthony', 22.4, 34.3, 'NYK', 29.0, 48.8, -5.0)
(24, 'DeMarcus Cousins', 27.0, 34.2, 'TOT', 36.4, 49.8, -2.2)
(27, 'Marc Gasol', 19.5, 34.2, 'MEM', 26.7, 50.3, 1.4)
(28, 'Wesley Matthews', 13.5, 34.2, 'DAL', 19.6, 49.6, -3.5)
(29, 'Nicolas Batum', 15.1, 34.0, 'CHO', 22.1, 47.2, 1.3)
(30, 'Paul Millsap', 18.1, 34.0, 'ATL', 24.3, 48.1, 2.0)
(31, 'Blake Griffin', 21.6, 34.0, 'LAC', 27.8, 51.3, 10.6)
(32, 'Klay Thompson', 22.3, 34.0, 'GSW', 26.2, 56.5, 14.7)
(35, 'Rudy Gobert', 14.0, 33.9, 'UTA', 16.7, 66.1, 8.1)
(34, 'Danilo Gallinari', 18.2, 33.9, 'DEN', 20.0, 53.1, 2.7)
(33, 'Jabari Parker', 20.1, 33.9, 'MIL', 26.0, 53.0, -2.5)
(25, 'DeMarcus Cousins', 24.4, 33.8, 'NOP', 36.4, 49.8, -2.2)
(36, 'Isaiah Thomas', 28.9, 33.8, 'BOS', 33.7, 54.6, 5.0)
(37, 'Rudy Gay', 18.7, 33.8, 'SAC', 25.1, 50.2, 1.7)
(38, 'Stephen Curry', 25.3, 33.4, 'GSW', 29.2, 58.0, 17.2)
(39, 'Avery Bradley', 16.3, 33.4, 'BOS', 21.8, 53.3, 1.2)
(40, 'Kawhi Leonard', 25.5, 33.4, 'SAS', 31.2, 54.1, 8.6)
(41, 'Kevin Durant', 25.1, 33.4, 'GSW', 27.6, 59.4, 16.0)
(42, 'Kentavious Caldwell-Pope', 13.8, 33.3, 'DET', 19.1, 48.1, -4.0)
(43, 'Victor Oladipo', 15.9, 33.2, 'OKC', 21.3, 51.0, 2.5)
(44, 'Mike Conley', 20.5, 33.2, 'MEM', 26.3, 54.5, 3.1)
(45, 'Eric Bledsoe', 21.1, 33.0, 'PHO', 28.0, 48.5, -4.1)
(46, 'Evan Fournier', 17.2, 32.9, 'ORL', 23.3, 50.8, -4.9)
(47, 'Ricky Rubio', 11.1, 32.9, 'MIN', 17.4, 44.8, -1.0)
(48, 'Jrue Holiday', 15.4, 32.7, 'NOP', 23.5, 51.0, 0.9)
(49, 'Hassan Whiteside', 17.0, 32.6, 'MIA', 22.6, 55.7, 1.3)
(50, 'Marcus Morris', 14.0, 32.5, 'DET', 20.2, 47.7, -2.8)
(51, 'Derrick Rose', 18.0, 32.5, 'NYK', 25.6, 47.7, -3.9)
(52, 'Draymond Green', 10.2, 32.5, 'GSW', 16.0, 48.1, 15.9)
(53, 'LaMarcus Aldridge', 17.3, 32.4, 'SAS', 24.9, 48.8, 6.1)
(54, 'Gorgui Dieng', 10.0, 32.4, 'MIN', 14.1, 51.4, 0.2)
(55, 'Jeff Teague', 15.3, 32.4, 'IND', 22.1, 49.2, 1.2)
(56, 'Jae Crowder', 13.9, 32.4, 'BOS', 17.0, 57.2, 7.8)
(57, 'Al Horford', 14.0, 32.3, 'BOS', 19.9, 52.7, 5.0)
(58, 'Courtney Lee', 10.8, 31.9, 'NYK', 14.5, 53.3, -4.9)
(59, 'DeAndre Jordan', 12.7, 31.7, 'LAC', 15.3, 71.4, 9.7)
(60, 'Robert Covington', 12.9, 31.6, 'PHI', 19.0, 49.2, -3.5)
(61, 'George Hill', 16.9, 31.5, 'UTA', 23.6, 55.4, 8.6)
(62, 'Chris Paul', 18.1, 31.5, 'LAC', 24.3, 55.5, 14.9)
(63, 'Myles Turner', 14.5, 31.4, 'IND', 19.7, 53.4, 3.2)
(64, 'Kevin Love', 19.0, 31.4, 'CLE', 25.5, 51.0, 7.2)
(65, 'Gary Harris', 14.9, 31.3, 'DEN', 18.5, 58.6, 1.0)
(66, 'Tobias Harris', 16.1, 31.3, 'DET', 21.8, 53.2, -1.3)
(69, 'Terrence Ross', 12.5, 31.2, 'ORL', 18.9, 53.2, 3.4)
(68, 'Markieff Morris', 14.0, 31.2, 'WAS', 20.4, 49.7, 3.9)
(67, 'Marcin Gortat', 10.8, 31.2, 'WAS', 14.7, 57.9, 2.8)
(72, 'Serge Ibaka', 14.2, 31.0, 'TOR', 21.1, 54.3, -2.7)
(75, 'Eric Gordon', 16.2, 31.0, 'HOU', 22.0, 52.7, 6.2)
(76, 'Wilson Chandler', 15.7, 30.9, 'DEN', 22.1, 52.0, -1.7)
(78, 'Patrick Beverley', 9.5, 30.7, 'HOU', 14.1, 52.1, 7.3)
(73, 'Serge Ibaka', 14.8, 30.7, 'TOT', 21.1, 54.3, -2.7)
(77, 'Khris Middleton', 14.7, 30.7, 'MIL', 23.2, 51.8, 5.7)
(79, 'Josh Richardson', 10.2, 30.5, 'MIA', 16.8, 46.7, 1.2)
(74, 'Serge Ibaka', 15.1, 30.5, 'ORL', 21.1, 54.3, -2.7)
(80, 'Marcus Smart', 10.6, 30.4, 'BOS', 18.5, 42.2, 2.5)
(81, 'Darren Collison', 13.2, 30.3, 'SAC', 20.0, 52.7, -4.2)
(82, 'Thaddeus Young', 11.0, 30.2, 'IND', 16.5, 56.0, 2.5)
(83, 'Marvin Williams', 11.2, 30.2, 'CHO', 16.3, 51.0, -0.5)
(84, 'Andre Roberson', 6.6, 30.1, 'OKC', 10.0, 51.3, 2.8)
(85, 'Dion Waiters', 15.8, 30.1, 'MIA', 26.4, 48.8, 2.8)
(86, 'Dwyane Wade', 18.3, 29.9, 'CHI', 29.3, 45.7, -2.4)
(87, 'Steven Adams', 11.3, 29.9, 'OKC', 16.0, 57.1, 2.8)
(88, 'Tristan Thompson', 8.1, 29.9, 'CLE', 11.2, 60.0, 2.9)
(89, 'Tyler Johnson', 13.7, 29.8, 'MIA', 20.7, 49.0, 0.5)
(90, 'Andre Drummond', 13.6, 29.7, 'DET', 22.4, 53.1, -6.3)
(91, 'Solomon Hill', 7.0, 29.7, 'NOP', 11.5, 48.1, 0.9)
(92, 'Dwight Howard', 13.5, 29.7, 'ATL', 19.1, 63.3, -2.0)
(93, 'Brook Lopez', 20.5, 29.6, 'BRK', 29.0, 53.1, -4.2)
(94, 'Elfrid Payton', 12.8, 29.4, 'ORL', 21.3, 49.3, -2.7)
(95, 'Ryan Anderson', 13.6, 29.4, 'HOU', 17.9, 55.0, 7.9)
(96, 'Deron Williams', 13.1, 29.3, 'DAL', 22.4, 50.9, -2.8)
(99, 'Tony Snell', 8.5, 29.2, 'MIL', 12.2, 58.8, -1.2)
(100, 'Jordan Clarkson', 14.7, 29.2, 'LAL', 23.2, 50.0, -8.9)

In [22]:
import pandas as pd

# Extraction process

In [23]:
nbastats = "Resources/NBAstats.csv"
NBAdf1 = pd.read_csv(nbastats)
NBAdf2 = NBAdf1[["Player", "PTS", "MP", "Tm"]]
NBAppg = NBAdf2.sort_values(by = ["MP"], ascending=False )
NBAppg1 = NBAppg.dropna(how = "any")
NBAppg1

                 Player   PTS    MP   Tm
269        LeBron James  26.4  37.8  CLE
333          Kyle Lowry  22.4  37.4  TOR
312         Zach LaVine  18.9  37.2  MIN
562      Andrew Wiggins  23.6  37.2  MIN
529  Karl-Anthony Towns  25.1  37.0  MIN
..                  ...   ...   ...  ...
334      John Lucas III   0.4   2.2  MIN
291      Terrence Jones   0.0   2.0  MIL
233         Roy Hibbert   0.7   1.8  DEN
248        Danuel House   0.0   1.0  WAS
60         Andrew Bogut   0.0   1.0  CLE

[595 rows x 4 columns]

In [24]:
player = "Resources/Player_impact_estimation.csv"
impact = pd.read_csv(player)
impact1 = impact[["PLAYER", "USG%", "MIN", "EFG%", "NETRTG"]]
impact2 = impact1.sort_values(by = ["MIN"], ascending = False )
impact3 = impact2.rename(columns = {"PLAYER": "Player", "USG%": "USG%", "MIN" : "MP" , "EFG%" : "EFG%", "NETRTG" : "NETRTG"})
impact3

             Player  USG%    MP  EFG%  NETRTG
6      LeBron James  29.7  37.8  59.4     7.7
32       Kyle Lowry  24.9  37.4  56.9     8.2
173  Andrew Wiggins  28.8  37.2  48.4    -0.5
174     Zach LaVine  21.8  37.2  54.4    -3.6
14     Jimmy Butler  26.5  37.0  49.2     3.0
..              ...   ...   ...   ...     ...
113   Brice Johnson  38.5   3.1  28.6    44.9
461     Steve Novak  16.9   2.7  35.7    -1.6
484   Larry Sanders  22.4   2.5  25.0    -7.2
326  John Lucas III  16.6   2.1  25.0    46.9
474    Danuel House   0.0   0.8   0.0     0.0

[486 rows x 5 columns]

In [25]:
impact

,PLAYER,TEAM,AGE,GP,W,L,MIN,OFFRTG,DEFRTG,NETRTG,...,AST RATIO,OREB%,DREB%,REB%,TO RATIO,EFG%,TS%,USG%,PACE,PIE
0,Russell Westbrook,OKC,28,81,46,35,34.6,107.9,104.6,3.3,...,23.4,5.3,27.9,16.7,12.2,47.6,55.4,40.8,102.31,23.0
1,Boban Marjanovic,DET,28,35,16,19,8.4,104.3,102.4,1.9,...,5.1,16.6,31.3,23.9,5.7,54.5,60.6,24.8,97.20,19.6
2,Demetrius Jackson,BOS,22,5,1,4,3.4,124.2,117.8,6.3,...,31.1,9.1,11.8,10.3,0.0,87.5,75.3,17.2,87.46,19.4
3,Anthony Davis,NOP,24,75,31,44,36.1,104.2,102.5,1.7,...,7.3,6.7,26.9,17.0,8.4,51.8,58.0,32.6,100.19,19.2
4,James Harden,HOU,27,81,54,27,36.4,113.6,107.3,6.3,...,27.6,3.5,21.2,12.3,14.1,52.5,61.3,34.1,102.98,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481,Elijah Millsap,PHX,29,2,1,1,11.6,91.2,93.0,-1.8,...,9.2,12.5,15.0,13.6,18.4,14.3,19.0,19.9,94.58,-3.6
482,Gary Neal,ATL,32,2,1,1,9.2,80.6,98.6,-18.0,...,10.2,0.0,7.7,2.7,0.0,0.0,22.8,20.1,98.18,-4.4
483,Patricio Garino,ORL,24,5,2,3,8.6,93.3,114.4,-21.1,...,0.0,2.5,13.3,8.2,30.0,0.0,0.0,10.3,95.65,-4.9
484,Larry Sanders,CLE,28,5,2,3,2.5,93.4,100.6,-7.2,...,0.0,37.5,11.1,23.5,29.1,25.0,41.0,22.4,99.45,-5.6
485,Ben Bentil,DAL,22,3,2,1,3.3,91.5,135.5,-44.0,...,0.0,0.0,25.0,12.5,25.0,0.0,0.0,18.4,106.15,-6.1

In [26]:
NBAdf1
NBAloc = NBAdf1.loc[NBAdf1["Player"] == "Jimmy Butler", :]
NBAloc

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
79,80,Jimmy Butler,SF,27.0,CHI,76.0,75.0,37.0,7.5,16.5,...,0.865,1.7,4.5,6.2,5.5,1.9,0.4,2.1,1.5,23.9

In [27]:
NBAmerge = pd.merge(NBAppg1,impact3, how = "inner", on = ("Player") )
NBAmerge
NBAmerge1 = NBAmerge.drop(columns = ["MP_y"])
NBAmerge2 = NBAmerge1.rename(columns = {"Player": "Player", "PTS":"PTS", "MP_x" : "MP" , "Tm": "Team","USG%": "USG%", "EFG%" : "EFG%", "NETRTG" : "NETRTG"})
NBAmerge3 = NBAmerge2.sort_values(by = ["MP"], ascending = False)
NBAmerge4 = NBAmerge3.loc[NBAmerge3["MP"] >= 29.2, :]
NBAmerge4

                 Player   PTS    MP Team  USG%  EFG%  NETRTG
0          LeBron James  26.4  37.8  CLE  29.7  59.4     7.7
1            Kyle Lowry  22.4  37.4  TOR  24.9  56.9     8.2
2           Zach LaVine  18.9  37.2  MIN  21.8  54.4    -3.6
3        Andrew Wiggins  23.6  37.2  MIN  28.8  48.4    -0.5
4    Karl-Anthony Towns  25.1  37.0  MIN  27.4  57.6    -0.9
..                  ...   ...   ...  ...   ...   ...     ...
94        Elfrid Payton  12.8  29.4  ORL  21.3  49.3    -2.7
95        Ryan Anderson  13.6  29.4  HOU  17.9  55.0     7.9
96       Deron Williams  13.1  29.3  DAL  22.4  50.9    -2.8
99           Tony Snell   8.5  29.2  MIL  12.2  58.8    -1.2
100     Jordan Clarkson  14.7  29.2  LAL  23.2  50.0    -8.9

[97 rows x 7 columns]

In [ ]:
Base.prepare(engine, reflect=True)

In [ ]:
Base.classes.keys()