In [35]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

## Extraction Process

### ELO

In [45]:
ELO_file = "Resources/ELO.csv"
ELO_df = pd.read_csv(ELO_file)
ELO_df.head()

    ELO                   TEAM  CONF
0  1770  Golden State Warriors  West
1  1661      San Antonio Spurs  West
2  1636   Los Angeles Clippers  West
3  1617              Utah Jazz  West
4  1602        Houston Rockets  West

### Endorsements

In [5]:
Endorsements_file = "Resources/Endorsements.csv"
Endorsements_df = pd.read_csv(Endorsements_file)
Endorsements_df.head()

                NAME                   TEAM           SALARY     ENDORSEMENT
0       LeBron James    Cleveland Cavaliers   $30,963,450.00  $55,000,000.00
1       Kevin Durant  Golden State Warriors   $26,500,000.00  $36,000,000.00
2      Stephen Curry  Golden State Warriors  $12,112,359.00   $35,000,000.00
3       James Harden        Houston Rockets   $26,500,000.00  $20,000,000.00
4  Russell Westbrook  Oklahoma City Thunder   $26,500,000.00  $15,000,000.00

### Twitter

In [7]:
Twitter_file = "Resources/Twitter.csv"
Twitter_df = pd.read_csv(Twitter_file)
Twitter_df.head()

              PLAYER  TWITTER_FAVORITE_COUNT  TWITTER_RETWEET_COUNT
0  Russell Westbrook                  2130.5                  559.0
1       James Harden                   969.0                  321.5
2      Isaiah Thomas                   467.5                  155.5
3      Anthony Davis                   368.0                  104.0
4      DeMar DeRozan                     0.0                  186.0

### Wikipedia

In [49]:
Wiki_file = "Resources/Wikipedia.csv"
Wiki_df = pd.read_csv(Wiki_file)
Wiki_df.head()

   Unnamed: 0              names  pageviews  timestamps  wikipedia_handles
0           0  Russell Westbrook       3400  2016010100  Russell_Westbrook
1           1  Russell Westbrook       2893  2016010200  Russell_Westbrook
2           2  Russell Westbrook       3209  2016010300  Russell_Westbrook
3           3  Russell Westbrook       2531  2016010400  Russell_Westbrook
4           4  Russell Westbrook       2599  2016010500  Russell_Westbrook

## Transform Process

### ELO

In [50]:
ELOsorted_df=ELO_df.sort_values(['CONF','ELO'], ascending=False).rename(columns={'CONF':'CONFERENCE'})
ELOcleaned_df = ELOsorted_df.set_index('CONFERENCE')
ELOcleaned_df

             ELO                    TEAM
CONFERENCE
West        1770   Golden State Warriors
West        1661       San Antonio Spurs
West        1636    Los Angeles Clippers
West        1617               Utah Jazz
West        1602         Houston Rockets
West        1563  Portland Trail Blazers
West        1552          Denver Nuggets
West        1543   Oklahoma City Thunder
West        1482       Memphis Grizzlies
West        1482    New Orleans Pelicans
West        1463  Minnesota Timberwolves
West        1420        Dallas Mavericks
West        1393        Sacramento Kings
West        1367      Los Angeles Lakers
West        1340            Phoenix Suns
East        1600         Toronto Raptors
East        1587          Boston Celtics
East        1587      Washington Wizards
East        1569              Miami Heat
East        1545     Cleveland Cavaliers
East        1526          Indiana Pacers
East        1519           Chicago Bulls
East        1502         Milwaukee Bucks
East        1479           Atlanta Hawks
East        1463       Charlotte Hornets
East        1441         Detroit Pistons
East        1374         New York Knicks
East        1372           Brooklyn Nets
East        1352           Orlando Magic
East        1338      Philadelphia 76ers

### Endorsements

In [60]:
# Endorsements_df.dtypes
CleanedEndorsements_df = Endorsements_df.astype({'ENDORSEMENT':'float'}).sort_values('ENDORSEMENT', ascending=False)
CleanedEndorsements_df

ValueError: could not convert string to float: '$55,000,000.00'