In [1]:
import pandas as pd
import numpy as np

## Extraction Process

### ELO

In [2]:
ELO_file = "Resources/ELO.csv"
ELO_df = pd.read_csv(ELO_file)
ELO_df.head()

    ELO                   TEAM  CONF
0  1770  Golden State Warriors  West
1  1661      San Antonio Spurs  West
2  1636   Los Angeles Clippers  West
3  1617              Utah Jazz  West
4  1602        Houston Rockets  West

### Endorsements

In [3]:
Endorsements_file = "Resources/Endorsements.csv"
Endorsements_df = pd.read_csv(Endorsements_file)
Endorsements_df.head()

                NAME                   TEAM           SALARY     ENDORSEMENT
0       LeBron James    Cleveland Cavaliers   $30,963,450.00  $55,000,000.00
1       Kevin Durant  Golden State Warriors   $26,500,000.00  $36,000,000.00
2      Stephen Curry  Golden State Warriors  $12,112,359.00   $35,000,000.00
3       James Harden        Houston Rockets   $26,500,000.00  $20,000,000.00
4  Russell Westbrook  Oklahoma City Thunder   $26,500,000.00  $15,000,000.00

### Twitter

In [4]:
Twitter_file = "Resources/Twitter.csv"
Twitter_df = pd.read_csv(Twitter_file)
Twitter_df.head()

              PLAYER  TWITTER_FAVORITE_COUNT  TWITTER_RETWEET_COUNT
0  Russell Westbrook                  2130.5                  559.0
1       James Harden                   969.0                  321.5
2      Isaiah Thomas                   467.5                  155.5
3      Anthony Davis                   368.0                  104.0
4      DeMar DeRozan                     0.0                  186.0

### Wikipedia

In [5]:
Wiki_file = "Resources/Wikipedia.csv"
Wiki_df = pd.read_csv(Wiki_file)
Wiki_df.head()

   Unnamed: 0              names  pageviews  timestamps  wikipedia_handles
0           0  Russell Westbrook       3400  2016010100  Russell_Westbrook
1           1  Russell Westbrook       2893  2016010200  Russell_Westbrook
2           2  Russell Westbrook       3209  2016010300  Russell_Westbrook
3           3  Russell Westbrook       2531  2016010400  Russell_Westbrook
4           4  Russell Westbrook       2599  2016010500  Russell_Westbrook

## Transform Process

### ELO

In [6]:
ELOsorted_df=ELO_df.sort_values(['CONF','ELO'], ascending=False).rename(columns={'CONF':'CONFERENCE'})
ELOcleaned_df = ELOsorted_df.set_index('CONFERENCE')
ELOcleaned_df

             ELO                    TEAM
CONFERENCE
West        1770   Golden State Warriors
West        1661       San Antonio Spurs
West        1636    Los Angeles Clippers
West        1617               Utah Jazz
West        1602         Houston Rockets
West        1563  Portland Trail Blazers
West        1552          Denver Nuggets
West        1543   Oklahoma City Thunder
West        1482       Memphis Grizzlies
West        1482    New Orleans Pelicans
West        1463  Minnesota Timberwolves
West        1420        Dallas Mavericks
West        1393        Sacramento Kings
West        1367      Los Angeles Lakers
West        1340            Phoenix Suns
East        1600         Toronto Raptors
East        1587          Boston Celtics
East        1587      Washington Wizards
East        1569              Miami Heat
East        1545     Cleveland Cavaliers
East        1526          Indiana Pacers
East        1519           Chicago Bulls
East        1502         Milwaukee Bucks
East        1479           Atlanta Hawks
East        1463       Charlotte Hornets
East        1441         Detroit Pistons
East        1374         New York Knicks
East        1372           Brooklyn Nets
East        1352           Orlando Magic
East        1338      Philadelphia 76ers

### Endorsements

In [7]:
# Transforming Endorsements_df
Endorsements_df[Endorsements_df.columns[2:]] = Endorsements_df[Endorsements_df.columns[2:]].replace('[\$,]', '', regex=True).astype(float)

# Sorting values based on Endorsement first and then Salary
Cleaned_Endorsements = Endorsements_df.sort_values(['ENDORSEMENT', 'SALARY'], ascending=False)

# Cleaning up the formatting
Cleaned_Endorsements['SALARY'] = Cleaned_Endorsements['SALARY'].map("${:,.2f}".format)
Cleaned_Endorsements['ENDORSEMENT'] = Cleaned_Endorsements['ENDORSEMENT'].map("${:,.2f}".format)

Cleaned_Endorsements

                NAME                   TEAM          SALARY     ENDORSEMENT
0       LeBron James    Cleveland Cavaliers  $30,963,450.00  $55,000,000.00
1       Kevin Durant  Golden State Warriors  $26,500,000.00  $36,000,000.00
2      Stephen Curry  Golden State Warriors  $12,112,359.00  $35,000,000.00
3       James Harden        Houston Rockets  $26,500,000.00  $20,000,000.00
4  Russell Westbrook  Oklahoma City Thunder  $26,500,000.00  $15,000,000.00
6       Derrick Rose        New York Knicks  $21,323,252.00  $14,000,000.00
5        Dwyane Wade          Chicago Bulls  $23,200,000.00  $13,000,000.00
9       Kyrie Irving    Cleveland Cavaliers  $17,638,063.00  $13,000,000.00
7    Carmelo Anthony        New York Knicks  $24,559,380.00   $8,000,000.00
8         Chris Paul   Los Angeles Clippers  $22,868,827.00   $8,000,000.00

### Twitter

In [8]:
# Changed column names, sorted the values by Favorite count and dropped any NaN rows.
Cleaned_Twitter = Twitter_df.rename(columns={'TWITTER_FAVORITE_COUNT':'FAVORITE COUNT', 'TWITTER_RETWEET_COUNT':'RETWEET COUNT'}).sort_values('FAVORITE COUNT', ascending=False).dropna(how='any')

# Filtering players with greater than 100 Favorite Count and resetting index
Cleaned_Twitter = Cleaned_Twitter.loc[Cleaned_Twitter['FAVORITE COUNT']>100].reset_index().drop(columns='index')

Cleaned_Twitter

               PLAYER  FAVORITE COUNT  RETWEET COUNT
0       Stephen Curry         12278.0         2893.0
1         Joel Embiid          6852.5         2941.0
2        LeBron James          5533.5         1501.5
3       Kawhi Leonard          2701.5          716.5
4   Russell Westbrook          2130.5          559.0
..                ...             ...            ...
60        Patty Mills           112.0           19.0
61        Kyle Korver           107.5           30.5
62       Nerlens Noel           105.0           64.0
63      Julius Randle           102.0           59.0
64   DeMarcus Cousins           102.0           91.5

[65 rows x 3 columns]

### Wikipedia

In [9]:
# Dropped unnecessary columns(timestamps, wikipedia_handles)
Cleaned_Wiki = Wiki_df[['names', 'pageviews']].rename(columns={'names':'Player', 'pageviews':'Views'})

# Grouping by name, summing the pageviews and sorting by count
Cleaned_Wiki = Cleaned_Wiki.groupby('Player').agg('sum').sort_values('Views', ascending=False)

# Filtering players with greater than 1000 views
Cleaned_Wiki = Cleaned_Wiki.loc[Cleaned_Wiki['Views']>1000]

# Formatting
Cleaned_Wiki['Views'] = Cleaned_Wiki['Views'].map("{:,.0f}".format)

Cleaned_Wiki

                       Views
Player
Stephen Curry     10,407,255
LeBron James       8,823,785
Kevin Durant       3,865,014
Kyrie Irving       3,022,758
Dwyane Wade        2,694,345
...                      ...
Joe Young              1,563
Mirza Teletovic        1,488
Jusuf Nurkic           1,423
Andrew Nicholson       1,297
Dennis Schroder        1,233

[447 rows x 1 columns]

## Loading into SQLite

In [10]:
from sqlalchemy import create_engine

### ELO

In [ ]:
engine = create_engine ('sqlite:///SQLite/ELO.sqlite', echo=False)
conn = engine.connect()

table = 'ELO'
ELOcleaned_df.to_sql(table, conn)

conn.close()

### Endorsements

In [ ]:
engine = create_engine ('sqlite:///SQLite/Endorsements.sqlite', echo=False)
conn = engine.connect()

table = 'Endorsements'
Cleaned_Endorsements.to_sql(table, conn)

conn.close()

### Twitter

In [ ]:
engine = create_engine ('sqlite:///SQLite/Twitter.sqlite', echo=False)
conn = engine.connect()

table = 'Twitter'
Cleaned_Twitter.to_sql(table, conn)

conn.close()

### Wikipedia

In [ ]:
engine = create_engine ('sqlite:///SQLite/Wikipedia.sqlite', echo=False)
conn = engine.connect()

table = 'Wikipedia'
Cleaned_Wiki.to_sql(table, conn)

conn.close()

### Combined Into 1 Database

In [28]:
engine = create_engine ('sqlite:///SQLite/NBA_Social_Power.sqlite', echo=False)
conn = engine.connect()

table1 = 'ELO'
ELOcleaned_df.to_sql(table1, conn)

table2 = 'Endorsements'
Cleaned_Endorsements.to_sql(table2, conn)

table3 = 'Twitter'
Cleaned_Twitter.to_sql(table3, conn)

table4 = 'Wikipedia'
Cleaned_Wiki.to_sql(table4, conn)

conn.close()

In [29]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import inspect
from sqlalchemy.orm import Session

In [30]:
# Create the connection engine
engine = create_engine("sqlite:///SQLite/NBA_Social_Power.sqlite")

In [31]:
# Create the inspector and connect it to the engine
inspector = inspect(engine)

In [32]:
# Collect the names of tables within the database
inspector.get_table_names()

['ELO', 'Endorsements', 'Twitter', 'Wikipedia']

In [36]:
# Query All Records in the the Database
data = engine.execute('SELECT * FROM Wikipedia')

for record in data:
    print(record)

('Stephen Curry', '10,407,255')
('LeBron James', '8,823,785')
('Kevin Durant', '3,865,014')
('Kyrie Irving', '3,022,758')
('Dwyane Wade', '2,694,345')
('Klay Thompson', '2,619,119')
('Russell Westbrook', '2,367,837')
('Draymond Green', '1,866,704')
('Seth Curry', '1,802,876')
('Carmelo Anthony', '1,712,575')
('Derrick Rose', '1,678,701')
('Steven Adams', '1,445,971')
('Vince Carter', '1,420,828')
('Kevin Love', '1,418,113')
('Jeremy Lin', '1,404,816')
('Kawhi Leonard', '1,363,949')
('James Harden', '1,337,869')
('Dwight Howard', '1,323,270')
('Dirk Nowitzki', '1,303,433')
('Kris Humphries', '1,235,839')
('Andre Iguodala', '1,180,151')
('Chris Paul', '1,162,601')
('Kyle Lowry', '1,130,770')
('Richard Jefferson', '1,080,208')
('Metta World Peace', '1,072,646')
('Tony Parker', '1,061,395')
('Pau Gasol', '1,039,035')
('Shaun Livingston', '1,007,061')
('Blake Griffin', '988,555')
('DeMar DeRozan', '984,237')
('Tristan Thompson', '955,613')
('Damian Lillard', '926,756')
('Karl-Anthony Towns', '920,783')
('Andrew Bogut', '877,577')
('Rajon Rondo', '857,652')
('Zach LaVine', '848,226')
('Giannis Antetokounmpo', '841,598')
('Bismack Biyombo', '838,919')
('Paul Pierce', '834,305')
('Hassan Whiteside', '831,870')
('DeMarcus Cousins', '826,299')
('Buddy Hield', '804,536')
('Andrew Wiggins', '786,978')
('Brandon Ingram', '773,717')
("D'Angelo Russell", '769,891')
('Paul George', '769,595')
('Jordan Clarkson', '748,841')
('Iman Shumpert', '739,053')
('Joakim Noah', '730,687')
('DeAndre Jordan', '703,725')
('Devin Booker', '684,821')
('Joel Embiid', '682,937')
('Harrison Barnes', '681,618')
('Gary Payton', '674,418')
('Thon Maker', '653,591')
('Matthew Dellavedova', '639,403')
('Aaron Gordon', '627,319')
('Chris Andersen', '610,055')
('Serge Ibaka', '589,233')
('Jamal Crawford', '569,984')
('Al Horford', '569,636')
('LaMarcus Aldridge', '543,746')
('Michael Beasley', '539,285')
('Matt Barnes', '534,343')
('Leandro Barbosa', '511,522')
('JaVale McGee', '505,163')
('Jahlil Okafor', '490,282')
('Domantas Sabonis', '489,970')
('Enes Kanter', '487,901')
('Victor Oladipo', '468,359')
('Timofey Mozgov', '464,045')
('Luol Deng', '462,975')
('Brandon Jennings', '462,348')
('Andre Drummond', '457,443')
('Channing Frye', '451,543')
('Zaza Pachulia', '433,189')
('Kris Dunn', '412,255')
('Marreese Speights', '400,721')
('Patty Mills', '400,503')
('Kyle Korver', '394,107')
('Marc Gasol', '378,529')
('Deron Williams', '368,767')
('Gordon Hayward', '362,713')
('Robin Lopez', '354,253')
('Kemba Walker', '353,443')
('Jabari Parker', '353,413')
('Dion Waiters', '353,063')
('Cory Joseph', '348,322')
('Michael Carter-Williams', '339,425')
('Monta Ellis', '336,578')
('Tyson Chandler', '334,460')
('Nerlens Noel', '333,784')
('Ricky Rubio', '332,978')
('Mason Plumlee', '329,923')
('Tim Hardaway', '325,596')
('Jonathon Simmons', '322,785')
('Brook Lopez', '322,084')
('Rudy Gay', '320,590')
('Jrue Holiday', '317,070')
('Jaylen Brown', '308,763')
('Chandler Parsons', '305,209')
('Jason Terry', '305,008')
('Austin Rivers', '303,841')
('Denzel Valentine', '303,461')
('Dragan Bender', '301,427')
('Lance Stephenson', '300,284')
('Tyreke Evans', '299,239')
('Gerald Green', '298,193')
('James Michael McAdoo', '286,673')
('Evan Turner', '286,667')
('Lou Williams', '282,835')
('Justise Winslow', '281,526')
('Marshall Plumlee', '281,364')
('Roy Hibbert', '278,703')
('Frank Kaminsky', '274,311')
('Kay Felder', '273,513')
('Justin Holiday', '267,602')
('Julius Randle', '265,862')
('Zach Randolph', '262,910')
('Terrence Ross', '261,010')
('Boris Diaw', '254,387')
('Dahntay Jones', '254,018')
('Doug McDermott', '251,023')
('Luis Scola', '249,480')
('Jerian Grant', '248,859')
('Jamal Murray', '247,566')
('Courtney Lee', '246,902')
('Ty Lawson', '245,342')
('Tyler Ulis', '244,932')
('Brandon Rush', '242,794')
('Tyus Jones', '240,930')
('Emmanuel Mudiay', '238,372')
('Jordan McRae', '237,761')
('Michael Kidd-Gilchrist', '236,845')
('DeMarre Carroll', '235,229')
('Miles Plumlee', '223,982')
('Aaron Harrison', '222,966')
('Paul Millsap', '221,887')
('Al-Farouq Aminu', '221,189')
('Kent Bazemore', '220,928')
('Al Jefferson', '220,767')
('Jae Crowder', '217,840')
('Cameron Payne', '213,458')
('Udonis Haslem', '210,091')
('Dante Exum', '208,543')
('Tobias Harris', '207,311')
('Eric Gordon', '206,977')
('Trevor Ariza', '206,381')
('Markieff Morris', '205,138')
('Nik Stauskas', '200,937')
('Jared Sullinger', '198,922')
('Shabazz Napier', '198,323')
('Kyle Singler', '196,406')
('Willie Cauley-Stein', '194,957')
('Patrick Beverley', '194,883')
('Marcus Smart', '194,047')
('Trey Burke', '192,548')
('Jordan Farmar', '192,092')
('Kelly Olynyk', '191,661')
('Kevon Looney', '186,959')
('Larry Nance Jr.', '185,943')
('Rudy Gobert', '185,720')
('Bradley Beal', '181,803')
('Nicolas Batum', '181,519')
('Sam Dekker', '179,946')
('Eric Bledsoe', '177,945')
('Aron Baynes', '173,607')
('Glenn Robinson', '173,136')
('Jerami Grant', '172,823')
('Randy Foye', '172,759')
('Avery Bradley', '171,512')
('Mario Hezonja', '168,320')
('Cody Zeller', '163,988')
('Kenneth Faried', '162,539')
('Raymond Felton', '161,426')
('Arron Afflalo', '161,367')
('Yogi Ferrell', '160,576')
('Jameer Nelson', '159,240')
('Ivica Zubac', '157,414')
('Trey Lyles', '157,163')
('Ish Smith', '156,900')
('Shabazz Muhammad', '155,947')
('Danilo Gallinari', '155,862')
('Patrick McCaw', '155,112')
('Thabo Sefolosha', '151,367')
('Georges Niang', '148,939')
('Tyler Zeller', '148,930')
('DeAndre Liggins', '148,356')
('Thaddeus Young', '148,319')
('Meyers Leonard', '148,197')
('Nick Collison', '144,787')
('Jordan Crawford', '143,844')
('Steve Novak', '143,195')
('Kyle Wiltjer', '142,151')
('Marvin Williams', '141,469')
('Allen Crabbe', '139,831')
('Marco Belinelli', '138,896')
('Luc Mbah a Moute', '138,329')
('Josh Richardson', '138,306')
('Corey Brewer', '138,112')
('Marcin Gortat', '136,497')
('Amir Johnson', '136,077')
('Darren Collison', '133,821')
('Salah Mejri', '132,952')
('Joe Ingles', '131,576')
('Jonas Jerebko', '130,587')
('Mindaugas Kuzminskas', '127,396')
('Quinn Cook', '126,245')
('Evan Fournier', '125,612')
('Wesley Matthews', '124,941')
('Lucas Nogueira', '123,092')
('Jarrett Jack', '122,645')
('Ben McLemore', '121,773')
('Marquese Chriss', '121,428')
('Dejounte Murray', '121,413')
('Malcolm Brogdon', '121,342')
('Khris Middleton', '121,220')
('Derrick Favors', '120,839')
('Will Barton', '120,616')
('Maurice Harkless', '119,585')
('Taj Gibson', '119,433')
('Cole Aldrich', '119,275')
('Brice Johnson', '117,412')
('Georgios Papagiannis', '115,978')
('Greg Monroe', '115,932')
('Alex Len', '115,907')
('Devin Harris', '114,904')
('Sean Kilpatrick', '114,615')
('Diamond Stone', '114,477')
('Dwight Powell', '113,626')
('Tiago Splitter', '113,143')
('Otto Porter', '112,879')
('Clint Capela', '112,159')
('Bruno Caboclo', '111,359')
('Bobby Portis', '111,318')
('Gorgui Dieng', '108,208')
('Jeremy Lamb', '106,272')
('Malcolm Delaney', '106,111')
('Caris LeVert', '104,435')
('Kentavious Caldwell-Pope', '104,187')
('Terrence Jones', '103,718')
('Jerryd Bayless', '102,134')
('Tim Frazier', '101,707')
('Cheick Diallo', '101,222')
('Lance Thomas', '101,028')
('Michael Gbinije', '100,689')
('Rodney Hood', '100,654')
('Jared Dudley', '99,900')
('Pat Connaughton', '99,666')
('Fred VanVleet', '99,549')
('Dewayne Dedmon', '99,373')
('Omri Casspi', '98,865')
('Brandon Bass', '98,525')
('Isaiah Canaan', '97,905')
('Anthony Morrow', '97,843')
('Norman Powell', '97,588')
('Terry Rozier', '97,465')
('Wayne Ellington', '96,963')
('Pascal Siakam', '96,075')
('Josh McRoberts', '95,887')
('Delon Wright', '95,785')
('Deyonta Davis', '94,319')
('Spencer Hawes', '93,629')
('Noah Vonleh', '93,414')
("Kyle O'Quinn", '91,544')
('Tarik Black', '91,096')
('Nemanja Bjelica', '89,783')
('Isaiah Whitehead', '89,286')
('Henry Ellenson', '89,107')
("E'Twaun Moore", '87,851')
('Jodie Meeks', '86,753')
('Ian Mahinmi', '86,347')
('Chinanu Onuaku', '85,768')
('Beno Udrih', '85,194')
('Joffrey Lauvergne', '84,430')
('Quincy Acy', '84,232')
('Montrezl Harrell', '83,030')
('Kosta Koufos', '82,375')
('Toney Douglas', '81,178')
('Rondae Hollis-Jefferson', '80,986')
('Trevor Booker', '80,971')
('Gary Harris', '80,128')
('Langston Galloway', '80,065')
('Luke Babbitt', '79,442')
('Robert Covington', '79,363')
('Wilson Chandler', '77,575')
('Rakeem Christmas', '77,258')
('Jarnell Stokes', '76,765')
('Jake Layman', '76,715')
('Jon Leuer', '76,715')
('Spencer Dinwiddie', '75,764')
('Ramon Sessions', '75,682')
('Adreian Payne', '75,343')
('Demetrius Jackson', '75,052')
('Shelvin Mack', '73,685')
('Malachi Richardson', '71,657')
('Paul Zipser', '69,481')
('Maurice Ndour', '64,012')
('Bryn Forbes', '63,728')
('Willie Reed', '63,413')
('Troy Daniels', '63,399')
('Rodney Stuckey', '63,191')
('Malik Beasley', '61,280')
('Ben Bentil', '60,804')
('Brandan Wright', '60,792')
('Briante Weber', '60,735')
('Reggie Bullock', '60,195')
('Jeff Withey', '59,465')
('Chris McCullough', '59,261')
('Gary Neal', '58,790')
('John Lucas III', '57,974')
('Anthony Tolliver', '57,078')
('Jordan Mickey', '56,781')
('Stephen Zimmerman', '56,654')
('Elijah Millsap', '56,140')
('JaMychal Green', '56,062')
('Mike Muscala', '54,578')
('Gerald Henderson', '54,097')
('Christian Wood', '52,943')
('Jarrod Uthoff', '52,561')
('Rashad Vaughn', '52,528')
('Josh Huestis', '52,364')
('Garrett Temple', '51,690')
('Dante Cunningham', '48,805')
('Ronnie Price', '48,137')
('Alonzo Gee', '47,575')
('Chasson Randle', '47,492')
('Darrun Hilliard', '47,451')
('Troy Williams', '45,013')
('Alec Burks', '44,837')
('Joel Bolomboy', '43,181')
('Richaun Holmes', '42,878')
('Darrell Arthur', '42,364')
('Semaj Christon', '42,165')
('Rodney McGruder', '41,573')
('Anthony Davis', '37,302')
('Patricio Garino', '36,704')
('Okaro White', '36,526')
('Lamar Patterson', '36,143')
('Lavoy Allen', '35,296')
('Daniel Ochefu', '35,005')
("DeAndre' Bembry", '34,889')
('C.J. McCollum', '34,280')
('Jarell Martin', '33,578')
('Hollis Thompson', '33,448')
('Dorian Finney-Smith', '28,961')
('Sheldon McClellan', '27,603')
('Manny Harris', '27,415')
('Isaiah Taylor', '26,017')
('Jarell Eddie', '24,132')
('John Wall', '22,924')
('Jimmy Butler', '21,700')
('Manu Ginobili', '21,613')
('Larry Sanders', '20,132')
('David Lee', '18,660')
('Treveon Graham', '17,847')
('Greivis Vasquez', '16,721')
('Nick Young', '15,721')
('Tim Quarterman', '14,659')
('Danuel House', '13,959')
('J.R. Smith', '13,195')
('Shawn Long', '12,800')
('Anderson Varejao', '11,469')
('Joe Johnson', '11,271')
('D.J. Augustin', '10,311')
('Ryan Kelly', '10,160')
('Kristaps Porzingis', '9,998')
('Ersan Ilyasova', '9,703')
('Thomas Robinson', '9,693')
('Jakob Poeltl', '9,391')
('Anthony Bennett', '9,388')
('Tyler Ennis', '9,262')
('Raul Neto', '9,208')
('David West', '9,207')
('J.J. Redick', '8,332')
('Goran Dragic', '8,239')
('Alan Williams', '7,764')
('Jeff Green', '7,284')
('Dario Saric', '7,204')
('Tony Allen', '7,154')
('Davis Bertans', '6,990')
('Stanley Johnson', '6,921')
('Jeff Teague', '6,856')
('Kevin Seraphin', '6,717')
('P.J. Tucker', '6,656')
('Ryan Anderson', '6,457')
('George Hill', '6,356')
('Tyler Johnson', '5,566')
('Cristiano Felicio', '5,348')
('Mike Conley', '5,111')
('James Young', '4,970')
('C.J. Watson', '4,781')
('Anthony Brown', '4,596')
('Myles Turner', '4,574')
('Ian Clark', '4,564')
('Marcus Georges-Hunt', '4,510')
('Nikola Vucevic', '4,234')
('Aaron Brooks', '4,083')
('Jordan Hill', '4,069')
('Jose Calderon', '4,040')
('Brandon Knight', '3,997')
('Nikola Jokic', '3,950')
('C.J. Miles', '3,877')
('Boban Marjanovic', '3,760')
('Patrick Patterson', '3,707')
('Andre Roberson', '3,697')
('John Jenkins', '3,643')
('Skal Labissiere', '3,625')
('Kelly Oubre', '3,565')
('Derrick Williams', '3,555')
('Sasha Vujacic', '3,363')
('Nicolas Brussino', '3,333')
('Omer Asik', '3,233')
('Alex Abrines', '3,042')
('Donatas Motiejunas', '2,992')
('Jonas Valanciunas', '2,942')
('Wade Baldwin', '2,918')
('Mike Dunleavy', '2,880')
('Nene Hilario', '2,871')
('Mike Scott', '2,705')
('Nikola Mirotic', '2,682')
('Wayne Selden', '2,659')
('Tony Snell', '2,587')
('Marcus Morris', '2,575')
('Joe Harris', '2,548')
('Danny Green', '2,525')
('C.J. Wilcox', '2,391')
('Archie Goodwin', '2,363')
('Bojan Bogdanovic', '2,213')
('Ron Baker', '2,191')
('Andrew Harrison', '2,177')
('Kyle Anderson', '2,099')
('Ed Davis', '2,089')
('Alan Anderson', '1,969')
('Elfrid Payton', '1,951')
('Tomas Satoransky', '1,921')
('James Ennis', '1,895')
('J.J. Barea', '1,880')
('Justin Anderson', '1,850')
('Wesley Johnson', '1,839')
('Alexis Ajinca', '1,799')
('T.J. Warren', '1,602')
('Joe Young', '1,563')
('Mirza Teletovic', '1,488')
('Jusuf Nurkic', '1,423')
('Andrew Nicholson', '1,297')
('Dennis Schroder', '1,233')

In [18]:
conn.close()

## Loading into MongoDB

In [21]:
import pymongo

In [22]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Define database
db = client.NBA_Social_Power

### ELO

In [23]:
# Define ELO collection
collection = db['ELO']

# Convert it to a dictionary
ELO_dict = ELOcleaned_df.to_dict("records")

# Inserting the dictionary into collection
collection.insert_many(ELO_dict)

### Endorsements

In [24]:
# Define Endorsements collection
collection = db['Endorsements']

# Convert it to a dictionary
Endorsements_dict = Cleaned_Endorsements.to_dict("records")

# Inserting the dictionary into collection
collection.insert_many(Endorsements_dict)

### Twitter

In [25]:
# Define Twitter collection
collection = db['Twitter']

# Convert it to a dictionary
Twitter_dict = Cleaned_Twitter.to_dict("records")

# Inserting the dictionary into collection
collection.insert_many(Twitter_dict)

### Wikipedia

In [26]:
# Define Wikipedia collection
collection = db['Wikipedia']

# Convert it to a dictionary
Wiki_dict = Cleaned_Wiki.to_dict("records")

# Inserting the dictionary into collection
collection.insert_many(Wiki_dict)